# Sana Shaikh - Question #2

In [57]:
#import the required Classes, packages and libraries
from sklearn.linear_model import LinearRegression
from sklearn import metrics

import numpy as np
import pandas as pd

### A. Read the dataset file “Credit.csv” and assign it to a Pandas DataFrame:

In [58]:
credit_df = pd.read_csv("https://github.com/mpourhoma/CS4661/raw/master/Credit.csv")

### B. Check out the dataset:

In [59]:
credit_df[0::20]

      Income  Limit  Rating  Cards  Age  Education  Married  Balance
0     14.891   3606     283      2   34         11        1      333
20    17.700   2860     235      4   63         16        0       89
40    34.950   3327     253      3   54         14        0       50
60    35.510   5198     364      2   35         20        0      631
80    27.369   3449     288      3   40          9        1      162
100   21.153   3736     256      1   41         11        0      298
120   27.241   1402     128      2   67         15        1        0
140   39.831   6045     459      3   32         12        1     1425
160   12.238   4865     381      5   67         11        0      836
180   10.635   3584     294      5   69         16        1      423
200   23.949   5343     383      2   40         18        1      829
220   44.847   5765     437      3   53         13        0     1246
240   29.705   3351     262      5   71         14        1      148
260   67.937   5184     383      4   63         12        1      345
280   53.401   5319     377      3   35         12        0      541
300   21.786   4632     355      1   50         17        1      580
320   16.279   1160     126      3   78         13        1        5
340   27.794   3807     301      4   35          8        1      320
360   53.566   5891     434      4   82         10        0      712
380  115.123   7760     538      3   83         14        0      661

### C. Generate the feature matrix and target vector. Then, normalize the features:

In [60]:
# Feature matrix
feature_cols = ['Income','Limit','Rating','Cards','Age','Education','Married'] 

X = credit_df[feature_cols]

print(X.shape)

# Target vector
y = credit_df['Balance']

X.head()

(400, 7)

    Income  Limit  Rating  Cards  Age  Education  Married
0   14.891   3606     283      2   34         11        1
1  106.025   6645     483      3   82         15        1
2  104.593   7075     514      4   71         11        0
3  148.924   9504     681      3   36         11        0
4   55.882   4897     357      2   68         16        1

In [61]:
# Normalizing data
from sklearn import preprocessing

X_scaled = preprocessing.scale(X)
#print(X_scaled)

### D. Split the dataset into testing and training sets with the following parameters: test_size=0.24, random_state=9:

In [62]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.24, random_state=9)

print(X_train.shape)
print(y_train.shape) 
print('\n')
print(X_test.shape)
print(y_test.shape)

(304, 7)
(304,)


(96, 7)
(96,)

### E. Use Linear Regression to train a linear model on the training set. Check the coefficients of the linear regression model. Which feature is the most important? Which feature is the least important?

In [63]:
my_linreg = LinearRegression()

my_linreg.fit(X_train, y_train)

LinearRegression()

In [64]:
print(my_linreg.intercept_)

print(my_linreg.coef_)

-497.0869076583074
[ -7.5197188    0.15640406   1.6355104   18.19349659  -1.00062374
   3.73501837 -20.17447952]

From the results above, we observe that "Married" would be the most important feature since it's the largest (ignoring the negative). While "Limit" would be the least important feature.

### F. Predict “balance” for the users in testing set. Then, compare the predicted balance with the actual balance by calculating and reporting the RMSE:

In [65]:
y_prediction = my_linreg.predict(X_test)

print(y_prediction)

[ 316.89813114  677.5093907   489.03669272  -49.82989971  706.42913216
  864.96954115  897.65752581  108.20297732 -213.73474279  834.94198677
   11.05109139 -227.34447869  472.01450822    4.54554458 -228.17349827
  956.21537845  896.91570524  821.97824267   18.37144232  857.31517013
 1028.30326279  699.22168497 1176.9426756   666.28578465  643.94064891
  690.63628696  589.35273903  -29.37237394  575.15444917  406.78468032
  845.81453327  828.30862904   82.2376206   953.40592514 -184.74828227
  525.84335889 1045.19205022  535.04104472  107.26753118 -172.8968111
  497.84037664 1155.35533939  429.08674601  403.49872552  143.72087313
  764.78737012  431.24114308 1304.79656588  475.00132057   95.75404622
 -215.69000296    5.62900657  313.88797405  859.9328932   792.27147016
 1029.90210771 1500.40180297 1078.48617624  713.37981473 1072.97948262
  -64.12187718  488.60063387   92.3601712   440.414465    277.13284667
 1075.41508762  258.10181743  773.89657462  278.12447916  409.51029492
  335.56674013  989.87781589  978.31940615 1042.6230052   915.82319179
  150.95645254  516.7089988   733.47654088   74.84330655  556.47429962
 1096.60831626  359.12494251  204.54562103  407.76115868  113.50656023
  958.07237887  934.59051997    2.98452112 1627.80317193  636.31395153
  688.17824441  711.80910955  293.66354104 -219.28997401  -91.76701391
 -149.31642723]

In [66]:
#calculating "Mean Square Error" (MSE):
mse = metrics.mean_squared_error(y_test, y_prediction)

#calculating "Root Mean Square Error" (RMSE): 
rmse = np.sqrt(mse)

print(rmse)

143.2464973964321

### G. Now, use 10-fold Cross-Validation to evaluate the performance of a linear regression in predicting the balance. Thus, rather than splitting the dataset into testing and training, use Cross-Validation to evaluate the regression performance. What is the RMSE when you use cross validation?

In [67]:
from sklearn.model_selection import cross_val_score

mse_list = cross_val_score(my_linreg, X, y, cv=10, scoring='neg_mean_squared_error')

print(mse_list)

[-23646.90415342 -32003.04401232 -35462.64435619 -37327.60719635
 -14341.32205938 -33628.37104224 -31631.99317834 -12491.00334951
 -20749.61212176 -23204.9474346 ]

In [68]:
mse_list_positive = -mse_list

# using numpy sqrt function to calculate rmse:
rmse_list = np.sqrt(mse_list_positive)
print(rmse_list)

[153.7754992  178.89394627 188.31527914 193.20353826 119.75525901
 183.38039983 177.85385343 111.76315739 144.04725656 152.331702  ]

In [69]:
# calculate the average RMSE as final result of cross validation:
print(rmse_list.mean())

160.33198910744073